.sharing-container {
  text-align: center; 
}
.sharing-container h2{
  color: #555555;
  font-weight: bold;
}
.sharing-cover{
  height: 300px;
}
.sharing-connection-stat{
  color: #555555;
}
.sharing-link{
  background-color: rgba(117, 117, 250, 0.11);
  color: blue;
  max-width: 600px;

}
.sharing-download-ctr {
  width: 300px;
}
.sharing-download-ctr .icn{
  width: 60px;
  font-size: 24px;
  color: #555555;
}