.settings-container {
  background-color: var(--background-color-secondary);
  color: var(--font-color-primary);
  font-family: Roboto !important;
  user-select: none;
}

.settings-container input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.settings-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 34px;
  background: grey;
  display: block;
  border-radius: 30px;
  position: relative;
}

.settings-container label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.settings-container input:checked+label {
  background: #d1f8d1;
}

.settings-container input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.settings-container label:active:after {
  width: 34px;
}

.settings-container .item {
  background-color: var(--background-color-primary);
}

.settings-container .item:hover {
  background-color: var(--background-color-primary);
}

.settings-container .item:hover {
  background-color: var(--background-color-primary);
}

.settings-sidebar-item {
  color: var(--font-color-secondary);
  cursor: pointer;
}

.settings-sidebar-item i {
  width: 50px;
}

.settings-active {
  font-weight: bold;
}

.settings-version-info {
  margin-top: 620px;
}

.settings-search-engine-list-ctr {
  display: flex;
}

.settings-search-engine-list {
  display: flex;
  color: var(--font-color-secondary);
}

.settings-search-engine-list img {
  width: 40px;
  height: 40px;
  padding: 1px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2.5px solid #3b3b3b;
}

.settings-search-engine-list .active {
  border-color: #f0f0f0;
}

.settings-search-engine-list img:hover {
  background-color: #f0f0f0;
}

.settings-tor-icon {
  width: 30px;
  height: 30px;
}

.settings-tor-icon-inactive {
  filter: grayscale(100%);
}

.settings-tor-button {
  color: var(--font-color-primary);
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  width: 30%;
  height: 33px;
  border: 0.1px solid #575757;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  margin-right: 30px;
}

.download {
  color: var(--font-color-primary);
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  width: 30%;
  height: 33px;
  border: 0.1px solid #575757;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
}

.download-active {
  border: 2px solid #ffffff;
}

#logo {
  position: fixed;
  height: 100px;
  bottom: 0;
  right: 38%;
  width: 100%;
}

#logo img {
  width: 30px;
}

.feedback {
  border: 1px solid var(--font-color-secondary);
  width: 500px;
}

.feedback button {
  background: transparent;
  border:none;
  border-left: 1px solid #eee;
  color: #eee;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;
  background-color: rgb(12, 12, 12);
  color: rgb(196, 196, 196);
  font-family: Roboto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
}