.feedback {
  border: 1px solid var(--font-color-secondary);
  min-width: 350px;
  width: 38vw;
}

.feedback button {
  background: transparent;
  border: none;
  color: #eee;
  float: right;
  margin: auto;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;
  background-color: rgb(12, 12, 12);
  color: rgb(196, 196, 196);
  font-family: Roboto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  width: 100%;
}
.about-contribute {
  position: absolute;
  color: var(--font-color-secondary);
  font-size: 12px;
  cursor: pointer;
}
.feedback-email {
  width: calc(100% - 40px);
  height: 33px;
}
