#controls {
  display: flex;
  padding: 0px 5px;
  background-color: var(--background-color-secondary);
}

#controls button,
#controls button:focus {
  width: 33px;
  height: 33px;
  margin: auto;
  margin-right: 10px;
  background-color: var(--background-color-secondary);
  border: none;
  user-select: none;
  border-radius: 50%;
  outline: none;
  background-position: center;
  transition: background 0.4s;
  color: var(--font-color-secondary);
}

#controls button:hover {
  -webkit-text-stroke: 0.5px;
}

#controls button:disabled {
  background: none;
  color: rgb(114, 114, 114);
  visibility: hidden;
}

.urlInfo {
  background-color: rgba(255, 255, 255, 0);
  margin-right: -46px;
  z-index: 2;
  height: 33px;
  width: 33px;
  font-size: 16px;
  color: var(--font-color-secondary);
  line-height: 26px;
}

#controls #urlInfo:focus > .urlInfoCtr {
  visibility: visible;
}

.urlInfoCtr {
  visibility: hidden;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: var(--font-color-secondary);
  background-color: var(--background-color-secondary);
  width: 340px;
  text-align: left;
}

.secure-site {
  color: rgb(11, 158, 35);
}

.insecure-site {
  color: rgb(158, 16, 11);
}

#location-form {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 3px;
}

#location {
  background-color: var(--background-color-secondary);
  width: 80%;
  padding-left: 7px;
  font-family: Roboto;
  font-weight: 300;
  height: 28px;
  color: var(--font-color-secondary);
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid var(--background-color-secondary);
  transition: border 1000ms ease-in-out;
  margin: 1px;
}

#location:focus {
  color: var(--font-color-primary);
  font-weight: 400;
  border: 0.5px solid var(--border-color-primary);
  outline: none;
  text-align: left;
}

#location:hover:not(:focus) {
  color: var(--font-color-secondary);
  border: 0.5px solid #858585;
  outline: none;
  transition: border 0ms ease-in-out;
}

#location:focus > #goButton {
  color: var(--font-color-primary) !important;
  background-color: var(--background-color-urlbar) !important;
  outline: none;
}

#goButton {
  display: none;
  position: relative;
  left: -33px;
  border: none;
  height: 26px !important;
  margin-top: 0px !important;
  width: 27px;
  border-radius: 0 !important;
  background-color: var(--background-color-secondary);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  /* loader size and color */
  width: 1rem;
  height: 1rem;
  border-top-color: var(--font-color-secondary);
  border-left-color: var(--font-color-secondary);
  /* Additional loader styles */
  animation: loader 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.loader-rev {
  /* loader size and color */
  width: 1rem;
  height: 1rem;
  opacity: 0.8;
  border-top-color: var(--font-color-secondary);
  border-left-color: var(--font-color-secondary);
  /* Additional loader styles */
  animation: loader-rev 1500ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-rev {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Optional — create your own variations! */

.loader-large {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

.loader-slow {
  animation: loader 1s ease-in-out infinite;
}

.loader-blue {
  border-top-color: #09d;
  border-left-color: #09d;
}

.menuicon {
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='svg6' version='1.1' viewBox='0 0 28 15' height='15' width='28'%3e%3cmetadata id='metadata12'%3e%3crdf:RDF%3e%3ccc:Work rdf:about=''%3e%3cdc:format%3eimage/svg+xml%3c/dc:format%3e%3cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3e%3cdc:title%3e%3c/dc:title%3e%3c/cc:Work%3e%3c/rdf:RDF%3e%3c/metadata%3e%3cdefs id='defs10' /%3e%3cg transform='translate(2.5,2.5)' data-name='Group 546' id='Group_546'%3e%3cline style='stroke:%23b9b9b9;stroke-opacity:1' y2='4.5822339' y1='4.5822339' x1='12.049253' stroke-width='5' stroke-linecap='round' stroke='%23003777' fill='none' x2='23.049253' data-name='Line 2' id='Line_2' /%3e%3cline style='stroke:%23b9b9b9;stroke-opacity:1' y2='4.5822339' y1='4.5822339' x1='0.04925238' stroke-width='5' stroke-linecap='round' stroke='%23003777' fill='none' x2='2.0492523' data-name='Line 3' id='Line_3' /%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
	background-size: 23px;
	width: 23px;
	height: 23px;
}
