.alldownloads {
  text-align: center;
  color: #4e58e4;
}

hr {
  margin: 2px;
}
.alldownloads:hover {
  cursor: pointer;
}
.dropdown-downloads {
  margin-top: 6px;
  padding: 6px;
  border: 1px solid;
  border-radius: 2px;
  position: absolute;
  background-color: var(--background-color-primary);
  color: var(--font-color-secondary);
  min-width: 300px;
  overflow: auto;
  right: 0;
  z-index: 1;
}
.openDownloadItem {
  float: right;
  width: auto !important;
  font-size: 16px !important;
  border: none !important;
  color: #4e58e4 !important;
  background-color: inherit !important;
  height: 0px !important;
}
