.etabs-tabgroup {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-secondary);
  overflow: hidden;
}

.etabs-tabs {
  -webkit-app-region: no-drag;
  width: calc(100% - 150px);
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.etabs-tab {
  color: var(--font-color-secondary);
  display: flex;
  height: 33px;
  align-items: center;
  padding: 0.5rem;
  flex: 1;
  overflow: hidden;
  border-right: 0.1px solid rgb(58, 58, 58);
  border-top: 2px solid rgba(238, 238, 238, 0);
  border-bottom: 0px solid var(--border-color-primary);
}

.etabs-tab-icon {
  width: 18px;
  margin-left: 5px;
}

.etabs-tab-icon img {
  width: 16px;
  height: 16px;
  margin-top: -4px;
}

.etabs-tab-title {
  font-family: Roboto;
  font-size: 0.9rem;
  max-height: 32px;
  min-width: 1px;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: 36px;
  overflow: hidden;
  line-height: 32px;
  padding: 0 1rem 0 1rem;
}

.etabs-tabs .active {
  border-top: 2px solid var(--border-color-primary);
  background-color: var(--background-color-secondary);
  min-width: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.etabs-buttons button {
  -webkit-app-region: no-drag;
  font-size: 25px;
  font-weight: 400;
  color: var(--font-color-secondary);
  border: none;
  height: 33px;
  width: 33px;
  background-color: rgba(221, 221, 221, 0);
}

.etabs-tab-buttons {
  -webkit-app-region: no-drag;
  margin-left: auto;
  right: 0;
}

.etabs-tab-button-close {
  background-color: #ffffff00;
  border: none;
  position: relative;
  border-radius: 50%;
  font-weight: bold;
  color: var(--font-color-secondary);
}

.etabs-tab-button-close:hover {
  color: rgb(90, 90, 90);
}

.etabs-views {
  flex: 1;
  height: 600px;
  overflow: hidden;
}

.etabs-view {
  height: calc(100vh - 70px);
}

.nativeView {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.windowactions {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0;
  margin-top: 7px;
}

.windowactions button {
  border-radius: 50%;
  border: none;
  line-height: 12px !important;
  width: 12px;
  height: 12px;
  padding: 0px !important;
  margin-right: 10px;
}

.windowactions button i {
  font-size: 7px;
  width: 14px;
  height: 14px;
  color: transparent;
}

.windowactions button:hover {
  opacity: 0.8;
}

.windowactions .cls {
  background-color: #ff605c;
}

.windowactions .max {
  background-color: #00ca4e;
}

.windowactions .min {
  background-color: #ffbd44;
}
