.notificationAlert {
  max-height: 500px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 600px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.notifItem {
  margin: 10px auto;
  width: 500px;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;
  color: #555555;
}
.capturing {
  border: 5px solid #8d8c8c;
  border-radius: 50%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
hr {
  margin: 7px 1px;
}
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 15px;
  display: inline;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 6px;
  border: 1px solid;
  border-color: rgb(138, 135, 135);
  padding: 6px;
  border-radius: 2px;
  display: none;
  position: absolute;
  text-align: center;
  background-color: #fdfdfd;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}
.dropdown-capture {
  margin-top: 6px;
  border: 1px solid;
  border-color: rgb(138, 135, 135);
  padding: 6px;
  display: none;
  border-radius: 2px;
  position: absolute;
  background-color: #fdfdfd;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}
.show {
  display: block;
}
.buttonclass {
  text-align: center;
}

.item:hover {
  background-color: rgb(187, 187, 181);
}
