.width {
  min-width: 300px;
  max-width: 600px;
}

.download-container {
  background-color: var(--background-color-secondary);
  height: 100%;
}

.downloadBox {
  margin: 15px 70px 5px 70px;
}

.download-item {
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
}
