.videoPreview {
  width: 100%;
  border-radius: 5px;
  margin-top: 40px;
  border: 1px solid #313131;
}

.videoCapControls {
  display: flex;
  padding: 30px;
  background-color: rgb(247, 247, 247);
}

.videoCapControls button {
  font-size: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  color: #555555;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid rgb(189, 189, 189);
}

.videoCapControls button:focus {
  outline: none;
}

.videoCapControls button i {
  font-size: 20px;
  margin-top: 10px;
}

.videoCapControls button:disabled,
button[disabled] {
  opacity: 0.5;
}

.vidInfo {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 10px 30px;
  margin-left: 30px;
}

.vidFileInfo {
  border-right: 1px solid #bbb;
  padding: 10px 30px;
}

.openItem {
  height: 40px !important;
  width: auto !important;
  font-size: 16px !important;
  border: none !important;
  color: #343fd8 !important;
  background-color: #ffffff00 !important;
}
.openDownloadItem {
  float: right;
  width: auto !important;
  font-size: 16px !important;
  border: none !important;
  color: #343fd8 !important;
  background-color: #ffffff00 !important;
}

.capListItem {
  display: flex;
  color: #555;
}

.capListItem .icnCtr img {
  width: 50px;
}
